.username {
    align-content: center;
}


textarea {
    width: 450px;
    height: 200px;
}

#gameStyle {
    margin-top: 20%;
}
#messageBox {
    margin-top: 5%;
}
.display {
    width: 450px;
    height: 200px;
    background-color: lightgray;
    border-width:4px;
    border-style:solid;
    border-color:darkgrey;
 
}
body {
    background-image: url(images/circles-dark.png);

}
.bold{
    font-weight: bold;
}